@use "~/assets/css/variables.scss";

.groupTask {
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 30px 24px;
    border-bottom: 1px solid variables.$color-gray4;
    cursor: pointer;

    &:hover {
      background-color: variables.$color-gray1;
    }

    &--last,
    &--expanded {
      border-bottom: 0px;
    }

    &--completed {
      color: variables.$color-green2;
      .groupTask__titleText {
        color: variables.$color-green2;
      }

      .groupTask__titleIcon {
        fill: variables.$color-green2;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
    color: variables.$color-text-black3;

    &Text {
      font-size: 18px;
      font-weight: 400;
    }

    &Icon {
      fill: variables.$color-text-black3;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;

    &Text {
      color: variables.$color-gray5;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
