// COLORS
$color-text-black: #161816;
$color-text-black2: #454545;
$color-text-black3: #333333;
$color-gray1: #f6f6f6;
$color-gray2: #cccccc;
$color-gray3: #eeeeee;
$color-gray4: #dddddd;
$color-gray5: #999999;
$color-green1: #e6fdf9;
$color-green2: #02bc9c;
$color-green3: #106859;

// FONTS
$base-font-size: 14px;
$small-font-size: 12px;
$large-font-size: 24px;
$extra-large-font-size: 40px;
$extra-small-font-size: 10px;
$header-font-size: 16px;
$jumbo-font-size: 69px;
$small-header-font-size: 16px;
