@use "~/assets/css/variables.scss";

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: variables.$base-font-size;
  color: variables.$color-text-black;
  font-family: "Source Sans 3", sans-serif;
}

* {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: variables.$jumbo-font-size;
}

h2 {
  font-size: variables.$extra-large-font-size;
}

h3 {
  font-size: variables.$large-font-size;
}

h4 {
  font-size: variables.$header-font-size;
}

h5 {
  font-size: variables.$small-header-font-size !important;
}
